<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{% block title %} {% endblock %} - Karpervissen</title>
</head>
<body class="body_base">
    <nav>
        <a href="{{ url_for('index') }}">Karpervissen</a>
        <a href="{{ url_for('create') }}">Toevoegen</a>
        <a href="#">Over</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>